body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: disc;
}


em {
    font-style: italic;
    color: gray;
}

strong {
    display: block;
    margin-top: 15px;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #999;
}


